@charset "utf-8";

$primary: #ffffc5;

$default: #fff;
$size-1: 4em;
$family-sans-serif: oscine, sans-serif;

$link-hover: hsl(204, 71%, 53%);

$dark: rgba(0,0,0,0);

$box-padding: 0.25em 0.5em;

$code-padding: 0;
$code-background: transparent;
$pre-background: transparent;
$pre-padding:0;
$pre-font-size:1em;

$card-content-padding: 1em;

$footer-background-color: transparent;
$footer-padding: 2em;

// @import "../bulma-0.9.0/bulma.sass";

@import "../bulma-0.9.0/sass/base/_all.sass";
@import "../bulma-0.9.0/sass/elements/_all.sass";
@import "../bulma-0.9.0/sass/layout/_all.sass";

html {
    background-color:#000033;
}

.hero .button {
    transition:background-color 0.2s;
}

#inline-demo {
    .box {
        border-radius:0.5em;
        padding:0.5em;

        canvas {
            border-radius:0.5em;
        }

        .starlax-code {
            padding:0 0.5em;
        }
    }
}