@charset "utf-8";

$default: #fff;
$size-1: 4em;
$family-sans-serif: oscine, sans-serif;

$link-hover: hsl(204, 71%, 53%);

$dark: rgba(0,0,0,0);

$box-padding: 0.25em 0.5em;

$code-background: transparent;
$pre-background: transparent;
$pre-padding:0;
$pre-font-size:1em;

$card-content-padding: 1em;

$footer-background-color: transparent;
$footer-padding: 2em;

// $text: $default;
// $text-strong: $default;
// $text-light: $default;

// $box-background-color:rgba(255,255,255,0.6);

@import "../bulma-0.9.0/bulma.sass";

// html {
//     font-family: oscine,Helvetica, Arial, sans-serif;
// }

// body {
//     color:#fff;
//     text-align: center;
// }

// header {
//     height:100vh;
//     display:flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
// }

// h1 {
//     font-size: 5em;
//     font-weight: lighter;
//     margin:0.25em 0;
// }

